<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Absolute Position 1</title>
  </head>
  <body class="page">
    <header>
      <nav class="page__navigation">
        <h1 class="page__title">
          <a class="page__link" href="/">Positioning Practice</a> / Absolute
          Positioning 1 <span class="page__task-step"></span>
        </h1>
      </nav>
    </header>
    <main class="main">
      <section class="task">
        <task-content id="absolute-1-1" class="task__body"></task-content>
      </section>

      <section class="workspace">
        <div class="grandparent">
          <div class="parent">
            <div class="child child_pos_first">Child 1</div>
            <div class="child child_pos_second">Child 2</div>
          </div>
        </div>
        <div class="workspace__buttons">
          <button class="button button_action_check">Check my work</button>
          <button disabled class="button button_action_next button_disabled">
            Next task
          </button>
        </div>
      </section>
    </main>
  </body>
</html>
