<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Destructuring Practice</title>
  </head>
  <body class="page">
    <header>
      <nav class="page__navigation">
        <h1 class="page__title">
          <a class="page__link" href="/">Additional Practice</a> / Quiz Demo
          <span class="page__task-step"></span>
        </h1>
      </nav>
    </header>
    <main class="main">
      <quiz-app></quiz-app>
    </main>
    <script type="module" src="index.js"></script>
  </body>
</html>
